// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$spacer:                10px;
$containermaxwidth:     1000px;

// Colors
$redset:                #ee3b33;
$whiteset:              #fff;
$blackset:              #1b0706;
$greyset:               #f0f0f0;

$inputboxtxt:           #888686;

$bodyfontsize:          14px;
