header#masthead {
	background-color: $redset;
	background-position: right center;
	background-repeat: no-repeat;
	border-bottom: 3vw solid $darkblack;
	height: 11vw;
	position: relative;

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		height: 12vw !important;
	}

	.custom-logo {
		margin-left: 3vw;
	    margin-top: 1vw;
	    position: absolute;
	    width: 50%;
		left: 0;
	}

	.site-description {
		bottom: -8vw;
		margin-bottom: 0;
		position: relative;
		left: -2vw;
		background: $darkblack;
		color: #fff;
		width: 52%;
		font-family: Avenir;
		font-size: 19px;
		font-weight: 900;
		padding-left: 4%;
		padding-top: 6px;
		padding-top: .4vw;
		letter-spacing: 2px;
		font-size: 1.6vw;
		text-align: left;

		@include respond-to( mobile ) {
			width: 90%;
		}
	}

	.custom-logo-link {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 50%;
		height: 100%;
	}

	.headersubimage {
		position: absolute;
		right: 0px;
		width: 50.1%;
		bottom: -1px;

		img {
			width: 100%;
		}
	}
}
